<style>
      .mask-custom {
    backdrop-filter: contrast(140%) brightness(100%) saturate(100%) sepia(50%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
    opacity: 1;
  }
</style>
<!--navbar-->


<section class="vh-100" >
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="
    background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');
  height:100vh; width:250vh ;">  <div class="mask mask-custom">  
  <div style="align-items: center;">   
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
<p class="text-white mb-0"> Software engineers may confer with clients or executives to begin the development of a project, designing programs to meet those expectations. They assemble charts and diagrams for visual representation of the software, writing code themselves in addition to supervising a team of programmers. They also run tests and fix issues that may occur with the programs they have designed.
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>